{% load static %}

<!DOCTYPE html><html class=''>

<head>

<title>Chaticon</title>

<link rel='stylesheet prefetch' href="{% static 'style.css' %}">

<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
<script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
<script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
<meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
<link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel="icon" href="{% static 'images/chatlogo.png' %}" type="image/x-icon">

</head>

<body>
<div id="frame">

	<div id="sidepanel">

		<div id="profile" onclick="location.href='/profile/{{user.username}}';" style="cursor:pointer;">
			<div class="wrap">
				<img id="profile-img" src="{{ user.avatar }}" class="online" alt="" />
				<p class="contact-name">{{ user.username }}</p>
			</div>
		</div>

		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input id="searchContacts" type="text" placeholder="Search contacts..." />
		</div>

		<div id="contacts">
			<ul id="contactList">

				{% for contact in contacts %}
					<li class="contact" value="{{ contact.user2 }}" avatar="{{ contact.user2.avatar }}">
						<div class="wrap">
							<img class="contact-avatar" src="{{ contact.user2.avatar }}" alt="" />
							<div class="meta">
								<p class="name">{{ contact.user2.username }}</p>
								<p class="preview">{{ contact.user2.last_login }}</p>
							</div>
						</div>
					</li>
				{% endfor %}

			</ul>
		</div>

		<div id="bottom-bar">
			<button id="addcontact" onclick="location.href='addcontact/';"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="logout" onclick="window.location.href='/logout'"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> <span>Logout</span></button>
		</div>

	</div>

	<div class="content" id="content-home">
		<div id="content-home-box">
			<img id="content-home-box-image" src="{% static 'images/chatlogo.png' %}">
			<h2>Chaticon</h2>
		</div>
	</div>

	<div class="content" id="content-chat">
		<div class="contact-profile" onclick="location.href='#';" style="cursor:pointer;">
			<img id="contact-profile-avatar" src="" alt="" />
			<p class="contact-name" id="selected-contact-name" style="font-size: 25px;"></p>
		</div>

		<div class="messages">
			<ul id="chat-log">

			</ul>
		</div>

		<div class="message-input">
			<div class="wrap">
			<input type="text" id="chat-message-input" placeholder="Write your message..." />
			<button class="submit" id="chat-message-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>

</div>

<script src="{% static 'reconnecting-websocket.js' %}"></script>

<!-- JavaScript for handling page executions -->
<script>

	var selected_contact;
	var selected_contact_avatar;

	document.addEventListener('DOMContentLoaded', function() {
		// By default, display home content
		document.querySelector('#content-home').style.display = 'block';
		document.querySelector('#content-chat').style.display = 'none';

		const contacts = document.querySelectorAll('.contact');
		for (const contact of contacts){
			contact.addEventListener('click', () => activeChat(contact))
		}
	});

	function activeChat(contact){
		selected_contact = contact.getAttribute("value");
		selected_contact_avatar = contact.getAttribute("avatar");
		profile_link = `/profile/${selected_contact}`

		document.querySelector('#content-home').style.display = 'none';
		document.querySelector('#content-chat').style.display = 'block';

		document.querySelector(".contact-profile").setAttribute("onclick", "location.href=profile_link")
		document.querySelector("#selected-contact-name").innerHTML = selected_contact;
		document.querySelector("#contact-profile-avatar").src = selected_contact_avatar;
		document.querySelector("#chat-log").innerHTML = "";

		fetchMessages();

	}
</script>

<!-- JavaScript for Web Socket -->
<script>
	var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
	);

	chatSocket.onmessage = function(e){
		var data = JSON.parse(e.data);
		if (data['command'] === 'messages'){
			// alert("onmessage -> command=messages");
			for (let i=0; i<data['messages'].length; i++){
				createMessage(data['messages'][i]);
			}
		}
		else if (data['command'] === 'new_message'){
			createMessage(data['message']);
		}
	};

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
		var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
			'command': 'new_message',
			'message': message,
			'sender': username,
			'receiver': selected_contact
		}));
		messageInputDom.value = '';
	};

	function fetchMessages(){
		chatSocket.send(JSON.stringify({
			'command': 'fetch_messages'
		}));
	}

	function createMessage(data){
		var sender = data['sender'];
		var receiver = data['receiver']

		if (((sender==username)||(sender==selected_contact)) && ((receiver==username)||(receiver==selected_contact))){
			var msgListTag = document.createElement('li');
			var imgTag = document.createElement('img');
			var pTag = document.createElement('p');
			pTag.textContent = data.message;
			if (sender == username){
				msgListTag.className = 'sent';
				var userAvatar = "{{ user.avatar }}";
				// To remove added amp; which is done automatically by URLAction
				userAvatar = userAvatar.replaceAll("&amp;", "&");
				imgTag.src = userAvatar;
			}
			else{
				msgListTag.className = 'replies';
				imgTag.src = selected_contact_avatar;
			}
			msgListTag.appendChild(imgTag);
			msgListTag.appendChild(pTag);
			document.querySelector('#chat-log').appendChild(msgListTag);

			// To scroll to the bottom of the page when a message is created
			const message_div = document.querySelector('.messages')
			message_div.scrollTop = message_div.scrollHeight
		}
    };

</script>

<!-- JQuery for Sidebar Search -->
<script>
	$(document).ready(function(){

		// Search Contacts in Sidebar
		$("#searchContacts").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#contactList *").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>

</body>
</html>
